/*Variables-colors*/
@import 'variables';

/*General*/
*{
    margin: 0;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

a {
    all: unset;
    cursor: pointer;
}

.maincontainer {
    width: 100%;
    box-sizing: border-box;
}

nav{
    display: flex;
    flex-direction: row;
    justify-content: center;
    box-shadow: 0px 3px 4px 0px rgba(0, 0, 0, 0.15);
    padding-top: 15px;
    padding-bottom: 15px;
    position: relative;
    &  .arrow{
        color: $dark-grey;
        position: absolute;
        left: 20px;
    } 
    &  .logo{
        width: 197px;
        height: 36px;
    }
}

section{
    display: flex;
    flex-direction: column;
    background: $white;
    margin-bottom: -40px;
    &  img{
        width: 100%;
        object-fit: cover;
        position: relative;
        height: 275px;
    }
    &  .menucard{
        box-sizing: border-box;
        background: $infogroup-color;
        border-radius: 45px 45px 0px 0px;
        position: relative;
        top: -40px;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 40px;
        margin: auto;
        max-width: 1055px;
        padding: 35px 17px;
        @media (min-width:768px){
            width: 90%;
            padding: 50px 30px;
        }
    }
    &  .sousmenu{
        display: flex;
        justify-content: space-between;
        align-items: center;
        @media (min-width:768px){
            justify-content: center;
            gap: 25px;
        }          
    }
    &  .title{        
        font-family: Shrikhand;
        font-size: 28px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
    &  .heart{
        font-size: 21px;
        cursor: pointer;
        &:hover {
            background: $btn-color-start;
            -webkit-text-fill-color: transparent;
            -webkit-background-clip: text;
            background-clip: text;
            font-weight: bold;
        }
    }
    &  h2{
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    text-transform: uppercase;
    }
    &  .menu{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 12px;
        @media (min-width:768px) {
            margin: auto;   
        }
    }
    &  .line{
        width: 40px;
        height: 3px;
        background: $green;
    }
    &  .dishgroup{
        display: flex;
        flex-flow: column;
        justify-content: space-between;
        gap: 12px;
    }
    &  .dishtitle{
        width: 82%;
    }
    &  .dish{
        background: $white;
        width: 100%;
        @include btn-fonction;
        display: flex;
        flex-direction: row;
        animation: appearance 1s both ease-in-out;
        @media (min-width:768px) {   
            width: 634px;        
        }
        &:hover .checkblock{
            width: 59px;
            visibility: visible;
        }
    }
        &  .dish:nth-child(1){
            animation-delay: 0s;
        }
        &  .dish:nth-child(2){
            animation-delay: 0.25s;
        }
        &  .dish:nth-child(3){
            animation-delay: 0.5s;
        }
        &  .dish:nth-child(4){
            animation-delay: 0.75s;
        }
        @keyframes appearance {
            from {opacity: 0;}
            to {opacity: 1;}
            
        }
    &  .dishcontent{
        display: flex;
        padding: 15px;
        width: 100%;
        position: relative;
        overflow: auto;
    }
    &  h3{
        @include btn-text;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    &  p{
        font-family: Roboto;
        font-size: 15px;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    &  .price{
        display: flex;
        align-items: flex-end;
        width: 26px;
        position: absolute;
        right: 15px;
        bottom: 15px;
    }
    &  .checkblock{
        display: flex;
        align-items: center;
        justify-content: center;
        box-sizing: border-box;
        background: $green;
        width: 0%;
        border-radius: 0 20px 20px 0;
        font-size: 20px;
        color: $white;
        visibility: hidden;
        transition: width 250ms ease-out;
    }   
    &  .bold{
        color: $dark-grey;
        font-weight: 700;
    }
    & button {
        width: 218px;
        height: 50px;
        display: flex;
        margin: auto;
        align-items: center;
        justify-content: center;
        background: $btn-color-start;
        border-radius: 25px;
        color: $white;
        transition: background 300ms ease-out;
        cursor: pointer;
       @include btn-text;
       @include btn-shadow;
       &:hover{
        background: $btn-color-end;  
        box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.35);
      }
    }
}

/*Footer*/
footer{
    background: #353535; 
    &  .footerzone{
        padding: 22px 25px;
        display: flex;
        flex-direction: column;
        gap: 16px;
        max-width: 1440px;
        align-items: flex-start;
        @media (min-width:768px) {
            flex-direction: row-reverse;
            padding: 30px 25px;
            align-items: flex-end;
            gap: 25px;
            height: 37px;
        }
        @media (min-width:1024px) {
            flex-direction: row-reverse;
            margin: auto;
        }
    }   
    &  .footertitle{
        display: flex;
        align-items: center;
        @media (min-width:1024px) {
            width: 136px;
            align-items: flex-end;
        }
    }
    &  h4{
        color: $white;
        font-family: Shrikhand;
        font-weight: 400;
        font-size: 18px;
    }
    &  div{
        display: flex;
        justify-content: flex-start;
        gap: 11px;
        align-items: center;
    }
    &  .fa-solid{
        color: $white;
        font-size: 13px;
    }    
    &  p{
        color: $white;
        @include btn-text;
    }
    &  .footerlist{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 7px;
        @media (min-width:768px) {
            flex-direction: row; 
            align-items: flex-end;          
        }
    }
    &  .light{
        font-weight: 400;
        @media (min-width:1024px) {
            width: 130px;
        }
    }
    &  .widewidth {
        @media (min-width:1024px) {
            width: 190px;
        }
    }
}