/*Variables-colors*/
$dark-grey: #353535;
$white:#FFF;
$light-grey: #EAEAEA;
$infogroup-color:#F6F6F6;
$btn-color-start: linear-gradient(193deg, #9356DC -11.44%, #FF79DA 123.93%);
$btn-color-end: linear-gradient(0deg, rgba(255, 255, 255, 0.15) 0%, rgba(255, 255, 255, 0.15) 100%), linear-gradient(201deg, #9356DC -5.2%, #FF79DA 110.74%);
$grey-icon: #7E7E7E;
$primaire: #9356DC;
$green: #99E2D0;
$green-text: #008766;

@mixin btn-fonction {
    border-radius: 20px;
    box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
    border: transparent;
}
@mixin btn-shadow{
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
    border: transparent;
}



/*General*/
*{
    margin: 0;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

a {
    all: unset;
    cursor: pointer;
}

.maincontainer {
    width: 100%;
    box-sizing: border-box;
}

nav{
    display: flex;
    flex-direction: row;
    justify-content: center;
    box-shadow: 0px 3px 4px 0px rgba(0, 0, 0, 0.15);
    padding-top: 15px;
    padding-bottom: 15px;
    position: relative;
    &  .arrow{
        color: $dark-grey;
        position: absolute;
        left: 20px;
    } 
    &  .logo{
        width: 197px;
        height: 36px;
    }
}

section{
    display: flex;
    flex-direction: column;
    background: $white;
    margin-bottom: -40px;
    &  img{
        width: 100%;
        object-fit: cover;
        position: relative;
        height: 275px;
    }
    &  .menu{
        box-sizing: border-box;
        background: $infogroup-color;
        border-radius: 45px 45px 0px 0px;
        position: relative;
        top: -40px;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 40px;
        margin: auto;
        max-width: 1055px;
        padding: 35px 17px;
        @media (min-width:1024px){
            padding: 50px 210px;
        }
    }
    &  .sousmenu{
        display: flex;
        justify-content: space-between;
        align-items: center;
        @media (min-width:1024px){
            justify-content: center;
            gap: 25px;
        }          
    }
    &  .title{        
        font-family: Shrikhand;
        font-size: 28px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
    &  .heart{
        font-size: 21px;
        cursor: pointer;
        &:hover {
            background: $btn-color-start;
            -webkit-text-fill-color: transparent;
            -webkit-background-clip: text;
            background-clip: text;
            font-weight: bold;
        }
    }
    &  h2{
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    text-transform: uppercase;
    }
    &  .entrees{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 12px;
    }
    &  .line{
        width: 40px;
        height: 3px;
        background: $green;
    }
    &  .dishgroup{
        display: flex;
        flex-flow: column;
        justify-content: space-between;
        gap: 12px;
    }
    &  .dishtitle{
        width: 82%;
    }
    &  .dish{
        background: $white;
        width: 100%;
        @include btn-fonction;
        display: flex;
        flex-direction: row;
        &:hover .checkblock{
            width: 59px;
            visibility: visible;
        }
    }
    &  .dishcontent{
        display: flex;
        padding: 15px;
        width: 100%;
        position: relative;
        overflow: auto;
    }
    &  h3{
        font-family: Roboto;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    &  p{
        font-family: Roboto;
        font-size: 15px;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    &  .price{
        display: flex;
        align-items: flex-end;
        width: 26px;
        position: absolute;
        right: 15px;
        bottom: 15px;
    
    }
    &  .checkblock{
        display: flex;
        align-items: center;
        justify-content: center;
        box-sizing: border-box;
        background: $green;
        width: 0%;
        border-radius: 0 20px 20px 0;
        font-size: 20px;
        color: $white;
        visibility: hidden;
        transition: width 250ms ease-out;
        
    }   

    &  .bold{
        color: $dark-grey;
        font-weight: 700;
    }
    & button {
        width: 218px;
        height: 50px;
        display: flex;
        margin: auto;
        align-items: center;
        justify-content: center;
        background: $btn-color-start;
        border-radius: 25px;
        color: $white;
        font-family: Roboto;
        font-size: 16px;
        transition: background 300ms ease-out;
        cursor: pointer;
       @include btn-shadow;
       &:hover{
        background: $btn-color-end;  
        box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.35);
      }
    }
}

/*Footer*/
footer{
    background: #353535; 
    &  .footerzone{
        padding: 22px 25px;
        display: flex;
        flex-direction: column;
        gap: 16px;
        max-width: 1440px;
        align-items: flex-start;
        @media (min-width:1024px) {
            flex-direction: row-reverse;
            padding: 30px 25px;
            margin: auto;
            align-items: flex-end;
            height: 37px;
        }
    }   
    &  .footertitle{
        display: flex;
        align-items: center;
        width: 136px;
        @media (min-width:1024px) {
            align-items: flex-end;
        }
    }
    &  p{
        color: $white;
        font-family: Shrikhand;
        font-weight: 400;
        font-size: 18px;
    }
    &  div{
        display: flex;
        justify-content: flex-start;
        gap: 11px;
        align-items: center;
    }
    &  .fa-solid{
        color: $white;
        font-size: 13px;
    }    
    &  h1{
        color: $white;
        font-family: Roboto;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
    }
    &  .footergroup{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 7px;
        @media (min-width:1024px) {
            flex-direction: row; 
            align-items: flex-end;          
        }
    }
    &  .light{
        font-weight: 400;
        width: 130px;
    }
    &  .widewidth {
        width: 190px;
    }
}