/*Variables-colors*/
$dark-grey: #353535;
$white:#FFF;
$light-grey: #EAEAEA;
$infogroup-color:#F6F6F6;
$btn-color: linear-gradient(193deg, #9356DC -11.44%, #FF79DA 123.93%);
$grey-icon: #7E7E7E;
$primaire: #9356DC;
$green: #99E2D0;
$green-text: #008766;

/*Mixins*/
@mixin btn-shadow{
       box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
       border: transparent;
}

@mixin btn-fonction {
    border-radius: 20px;
    box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
    border: transparent;
}


/*General*/
*{
    margin: 0;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

a {
    all: unset;
    cursor: pointer;
}

.maincontainer {
    width: 100%;

 /*    @media (min-width: 1024px) {
        width: 100%;
        max-width: 1440px;
    } */
}

h1 {
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

h2 {
    font-family: Roboto;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
 p {
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
 }

/*Header*/

header {
    display: flex;
    flex-direction: column;
    align-items: center;  
}

.logo {
    background: $white;
    display: flex;
    width: 100%;
    justify-content: center;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    & img {
        width: 162px;
        padding: 14px 89px;
    }
}

.location {
    background-color: $light-grey;
    color: $dark-grey;
    width: 100%;
    height: 47px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;  
    gap: 17px;
    margin-top: 4px;
    &  .fa-solid {
        width: 12px;
        height: 16px;
    }
}

/*Infogroup*/
.infogroup {
    background-color: $infogroup-color;
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    padding-bottom: 57px;
    & h2 {
        padding: 39px 58px 10px 42px;
        display: flex;
        justify-content: center;
        text-align: center;
        margin: 0;
    }
    & p{
        display: flex;
        justify-content: center;
        text-align: center;
        padding: 0px 26px 27px 34px;
        margin: 0;
    }
    & button {
        width: 218px;
        height: 50px;
        display: flex;
        margin: auto;
        align-items: center;
        justify-content: center;
        background: $btn-color;
        border-radius: 25px;
        color: #EAEAEA;
       @include btn-shadow;
    }
}

/*section Fonctionnement*/
.Fonctions {
    background: $white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 26px;
    padding: 48px 20px 68px 20px;
    @media (min-width: 1024px){
        padding: 50px 180px;
    
    }

    & .Functionsgroup {
        display: flex;
        flex-direction: column;
        gap: 25px;
        @media (min-width: 1024px) {
            flex-direction: row; 
            justify-content: space-around; 
            
        }
    }

    & h2 {
        margin: 0px;
        
    }
        
        & button {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 100%;
        height: 73px;
        gap: 27px;
        @include btn-fonction;
        }    
        
        & .fa-solid {
            color: $grey-icon;
            position: relative;
            right: 17px;
            font-size: 17px;
            &:hover {
                color: $primaire;
            }
        }

        & .number {
            color: $white;
            background:$primaire;
            width: 24px;
            height: 24px;
            border-radius: 50%; 
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            right: 17px; 
            flex-shrink: 0; 
        }

        &  h1{
            position: relative;
            right: 26px;
        }
} 

/*Section Restaurants*/
.restaurants {
    padding: 54px 18px 66px 17px;
    background: $infogroup-color;
    display: flex;
    flex-direction: column;
    @media (min-width:1024px){
        padding: 30px 180px;
        
    }
    &  .title {
        font-size: 24px;
    }
    &  .cards {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 18px;
        padding-top: 15px;
        @media (min-width:1024px){
            gap: 50px;
            width: 100%;            
        }
    }
    &  .twocards{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 18px;
        @media (min-width:1024px){
            flex-direction: row;
            gap: 100px;
        }
    }

    &  .a-card {
        /*color: inherit;
        text-decoration: none;*/
        width: 100%;
        @media (min-width:1024px){
            width:45%;            
        }
    }
    &  .onecard {
        display: flex;
        flex-direction: column;
        position: relative;
    }

    &  h2 {
        margin-top: 0px;
        margin-bottom: 0px;
        padding-left: 2px;
        font-size: 18px;
    }
    &  p {
        font-size: 17px;
        margin: 0px;
    }
    &  .new{
        color: $green-text;
        font-size: 14px;
        background: $green;
        width: 80px;
        height: 29px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 2px;
        position: absolute;
        top: 13px;
        right: 15px;
        z-index: 1;
    }

    &  img {
        width: 100%;
        height: 231px;
        object-fit: cover;
        border-radius: 15px 15px 0px 0px;
    }
    &  .cardcontent{
        background: $white;
        border-radius: 0px 0px 15px 15px;
        padding: 16px 25px 12px 13px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 5px;
        position: relative;
    }
    &  .fa-regular {
        font-size: 21px;
        position: absolute;
        right: 25px;
        top: 23px;
        cursor: pointer;
        &:hover {
            background: $btn-color;
            -webkit-text-fill-color: transparent;
            -webkit-background-clip: text;
            font-weight: bold;
        }
    }
}
/*Footer*/
footer{
    background: #353535;
    padding: 22px 25px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    @media (min-width:1024px) {
        flex-direction: row-reverse;
        padding: 30px 25px;
    }
    &  .footertitle{
        display: flex;
        align-items: center;
        height: 37px;
        @media (min-width:1024px) {
            align-items: flex-end;
        }
    }
    &  p{
        color: $white;
        font-family: Shrikhand;
        font-weight: 400;
        font-size: 18px;
    }
    &  div{
        display: flex;
        justify-content: flex-start;
        gap: 11px;
        align-items: center;
    }
    &  .fa-solid{
        color: $white;
        font-size: 13px;
    }    
    &  h1{
        color: $white;
    }
    &  .footergroup{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 7px;
        @media (min-width:1024px) {
            flex-direction: row; 
            align-items: flex-end;          
        }
    }
    &  .light{
        font-weight: 400;
        width: 130px;
    }
    &  .widewidth {
        width: 190px;
    }
}
