/*Variables-colors*/
$dark-grey: #353535;
$white:#FFF;
$light-grey: #EAEAEA;
$infogroup-color:#F6F6F6;
$btn-color-start: linear-gradient(193deg, #9356DC -11.44%, #FF79DA 123.93%);
$btn-color-end: linear-gradient(0deg, rgba(255, 255, 255, 0.15) 0%, rgba(255, 255, 255, 0.15) 100%), linear-gradient(201deg, #9356DC -5.2%, #FF79DA 110.74%);
$grey-icon: #7E7E7E;
$primaire: #9356DC;
$green: #99E2D0;
$green-text: #008766;

@mixin btn-fonction {
    border-radius: 20px;
    box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
    border: transparent;
}
@mixin btn-shadow{
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
    border: transparent;
}

@mixin btn-text{
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}