/*Variables-colors*/
/*Mixins*/
/*General*/
* {
  margin: 0;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

a {
  all: unset;
  cursor: pointer;
}

.maincontainer {
  width: 100%;
  /*    @media (min-width: 1024px) {
         width: 100%;
         max-width: 1440px;
     } */
}

h1 {
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

h2 {
  font-family: Roboto;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

p {
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

/*Header*/
header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo {
  background: #FFF;
  display: flex;
  width: 100%;
  justify-content: center;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}
.logo img {
  width: 162px;
  padding: 14px 89px;
}

.location {
  background-color: #EAEAEA;
  color: #353535;
  width: 100%;
  height: 47px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 17px;
  margin-top: 4px;
}
.location .fa-solid {
  width: 12px;
  height: 16px;
}

/*Infogroup*/
.infogroup {
  background-color: #F6F6F6;
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  padding-bottom: 57px;
}
.infogroup h2 {
  padding: 39px 58px 10px 42px;
  display: flex;
  justify-content: center;
  text-align: center;
  margin: 0;
}
.infogroup p {
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 0px 26px 27px 34px;
  margin: 0;
}
.infogroup button {
  width: 218px;
  height: 50px;
  display: flex;
  margin: auto;
  align-items: center;
  justify-content: center;
  background: linear-gradient(193deg, #9356DC -11.44%, #FF79DA 123.93%);
  border-radius: 25px;
  color: #EAEAEA;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  border: transparent;
}

/*section Fonctionnement*/
.Fonctions {
  background: #FFF;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 26px;
  padding: 48px 20px 68px 20px;
}
@media (min-width: 1024px) {
  .Fonctions {
    padding: 50px 180px;
  }
}
.Fonctions .Functionsgroup {
  display: flex;
  flex-direction: column;
  gap: 25px;
}
@media (min-width: 1024px) {
  .Fonctions .Functionsgroup {
    flex-direction: row;
    justify-content: space-around;
  }
}
.Fonctions h2 {
  margin: 0px;
}
.Fonctions button {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: 73px;
  gap: 27px;
  border-radius: 20px;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
  border: transparent;
}
.Fonctions .fa-solid {
  color: #7E7E7E;
  position: relative;
  right: 17px;
  font-size: 17px;
}
.Fonctions .fa-solid:hover {
  color: #9356DC;
}
.Fonctions .number {
  color: #FFF;
  background: #9356DC;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  right: 17px;
  flex-shrink: 0;
}
.Fonctions h1 {
  position: relative;
  right: 26px;
}

/*Section Restaurants*/
.restaurants {
  padding: 54px 18px 66px 17px;
  background: #F6F6F6;
  display: flex;
  flex-direction: column;
}
@media (min-width: 1024px) {
  .restaurants {
    padding: 30px 180px;
  }
}
.restaurants .title {
  font-size: 24px;
}
.restaurants .cards {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 18px;
  padding-top: 15px;
}
@media (min-width: 1024px) {
  .restaurants .cards {
    gap: 50px;
    width: 100%;
  }
}
.restaurants .twocards {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 18px;
}
@media (min-width: 1024px) {
  .restaurants .twocards {
    flex-direction: row;
    gap: 100px;
  }
}
.restaurants .a-card {
  /*color: inherit;
  text-decoration: none;*/
  width: 100%;
}
@media (min-width: 1024px) {
  .restaurants .a-card {
    width: 45%;
  }
}
.restaurants .onecard {
  display: flex;
  flex-direction: column;
  position: relative;
}
.restaurants h2 {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-left: 2px;
  font-size: 18px;
}
.restaurants p {
  font-size: 17px;
  margin: 0px;
}
.restaurants .new {
  color: #008766;
  font-size: 14px;
  background: #99E2D0;
  width: 80px;
  height: 29px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 2px;
  position: absolute;
  top: 13px;
  right: 15px;
  z-index: 1;
}
.restaurants img {
  width: 100%;
  height: 231px;
  object-fit: cover;
  border-radius: 15px 15px 0px 0px;
}
.restaurants .cardcontent {
  background: #FFF;
  border-radius: 0px 0px 15px 15px;
  padding: 16px 25px 12px 13px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 5px;
  position: relative;
}
.restaurants .fa-regular {
  font-size: 21px;
  position: absolute;
  right: 25px;
  top: 23px;
  cursor: pointer;
}
.restaurants .fa-regular:hover {
  background: linear-gradient(193deg, #9356DC -11.44%, #FF79DA 123.93%);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  font-weight: bold;
}

/*Footer*/
footer {
  background: #353535;
  padding: 22px 25px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
@media (min-width: 1024px) {
  footer {
    flex-direction: row-reverse;
    padding: 30px 25px;
  }
}
footer .footertitle {
  display: flex;
  align-items: center;
  height: 37px;
}
@media (min-width: 1024px) {
  footer .footertitle {
    align-items: flex-end;
  }
}
footer p {
  color: #FFF;
  font-family: Shrikhand;
  font-weight: 400;
  font-size: 18px;
}
footer div {
  display: flex;
  justify-content: flex-start;
  gap: 11px;
  align-items: center;
}
footer .fa-solid {
  color: #FFF;
  font-size: 13px;
}
footer h1 {
  color: #FFF;
}
footer .footergroup {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 7px;
}
@media (min-width: 1024px) {
  footer .footergroup {
    flex-direction: row;
    align-items: flex-end;
  }
}
footer .light {
  font-weight: 400;
  width: 130px;
}
footer .widewidth {
  width: 190px;
}

/*# sourceMappingURL=styles.css.map */
