/*Variables-colors*/
/*Variables-colors*/
/*General*/
* {
  margin: 0;
}

body {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loader {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #FFF;
  inset: 0;
  z-index: 1;
  opacity: 0.9;
  animation: disappear 1ms 3s ease-out forwards;
  transform-origin: center;
  height: 100%;
  width: 100%;
}
@keyframes disappear {
  to {
    transform: scale(0);
  }
}
.loader .fork {
  color: #008766;
  font-size: 25px;
}
.loader div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 80px;
  height: 80px;
  margin: 8px;
  border: 10px solid #99E2D0;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #99E2D0 transparent transparent transparent;
}
.loader div:nth-child(1) {
  animation-delay: -0.45s;
}
.loader div:nth-child(2) {
  animation-delay: -0.3s;
}
.loader div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

a {
  all: unset;
  cursor: pointer;
}

.maincontainer {
  width: 100%;
  box-sizing: border-box;
}

h1, h2 {
  font-family: Roboto;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

p {
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

h3 {
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

/*Header*/
header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo {
  background: #FFF;
  display: flex;
  width: 100%;
  justify-content: center;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}
.logo img {
  width: 162px;
  padding: 14px 89px;
}

.location {
  background-color: #EAEAEA;
  color: #353535;
  width: 100%;
  height: 47px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 17px;
  margin-top: 4px;
}
.location .fa-solid {
  width: 12px;
  height: 16px;
}
.location p {
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

/*Infogroup*/
.infogroup {
  background-color: #F6F6F6;
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: auto;
  padding: 40px 30px 55px 30px;
  box-sizing: border-box;
  /*padding-bottom: 55px;
  padding-top: 40px;*/
}
.infogroup h1 {
  /*padding-left: 50px;
  padding-right: 50px;*/
  padding-bottom: 10px;
  display: flex;
  justify-content: center;
  text-align: center;
  margin: 0;
}
.infogroup p {
  display: flex;
  justify-content: center;
  text-align: center;
  padding-bottom: 27px;
  margin: 0;
}
.infogroup button {
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  border: transparent;
  width: 218px;
  height: 50px;
  display: flex;
  margin: auto;
  align-items: center;
  justify-content: center;
  background: linear-gradient(193deg, #9356DC -11.44%, #FF79DA 123.93%);
  border-radius: 25px;
  color: #EAEAEA;
  cursor: pointer;
  transition: background 300ms ease-out;
}
.infogroup button:hover {
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.15) 0%, rgba(255, 255, 255, 0.15) 100%), linear-gradient(201deg, #9356DC -5.2%, #FF79DA 110.74%);
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.35);
}

/*section Fonctionnement*/
.Fonctions {
  background: #FFF;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 26px;
  padding: 45px 20px 65px 20px;
  margin: auto;
  max-width: 1080px;
  box-sizing: border-box;
}
@media (min-width: 768px) {
  .Fonctions {
    padding: 50px 75px;
  }
}
.Fonctions .Functionsgroup {
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding-left: 10px;
}
@media (min-width: 768px) {
  .Fonctions .Functionsgroup {
    flex-direction: row;
    justify-content: space-between;
  }
}
.Fonctions h2 {
  margin: 0px;
}
.Fonctions .functionbtn {
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: 73px;
  gap: 27px;
  border-radius: 20px;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
  border: transparent;
}
.Fonctions .functionbtn:hover .fa-solid {
  color: #9356DC;
}
.Fonctions .fa-solid {
  color: #7E7E7E;
  position: relative;
  right: 17px;
  font-size: 17px;
}
.Fonctions .number {
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  color: #FFF;
  background: #9356DC;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  right: 11px;
  flex-shrink: 0;
}
.Fonctions p {
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  position: relative;
  right: 26px;
}

/*Section Restaurants*/
.restaurants {
  background: #F6F6F6;
  display: flex;
  flex-direction: column;
  padding: 50px 20px;
}
@media (min-width: 768px) {
  .restaurants {
    padding: 50px 75px;
  }
}
.restaurants .title {
  padding-left: 3px;
}
.restaurants .cards {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
  max-width: 1080px;
  box-sizing: border-box;
}
@media (min-width: 768px) {
  .restaurants .cards {
    gap: 35px;
  }
}
@media (min-width: 1024px) {
  .restaurants .cards {
    gap: 50px;
    width: 100%;
    margin: auto;
  }
}
.restaurants .twocards {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 18px;
}
@media (min-width: 768px) {
  .restaurants .twocards {
    flex-direction: row;
    gap: 35px;
  }
}
@media (min-width: 1024px) {
  .restaurants .twocards {
    flex-direction: row;
    gap: 100px;
  }
}
.restaurants .onecard {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
}
@media (min-width: 1024px) {
  .restaurants .onecard {
    width: 45%;
  }
}
.restaurants p {
  font-size: 17px;
}
.restaurants .new {
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
  color: #008766;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  font-size: 14px;
  background: #99E2D0;
  width: 80px;
  height: 29px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 2px;
  position: absolute;
  top: 13px;
  right: 15px;
}
.restaurants img {
  width: 100%;
  height: 231px;
  object-fit: cover;
  border-radius: 15px 15px 0px 0px;
}
.restaurants .cardcontent {
  background: #FFF;
  border-radius: 0px 0px 15px 15px;
  padding: 16px 25px 12px 13px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 5px;
  position: relative;
}
.restaurants .heart {
  font-size: 21px;
  position: absolute;
  right: 25px;
  top: 23px;
  cursor: pointer;
  transition: background 300ms ease-out;
}
.restaurants .heart:hover {
  background: linear-gradient(193deg, #9356DC -11.44%, #FF79DA 123.93%);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  font-weight: bold;
}

/*Footer*/
footer {
  background: #353535;
}
footer .footerzone {
  padding: 22px 25px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  max-width: 1440px;
  align-items: flex-start;
}
@media (min-width: 768px) {
  footer .footerzone {
    flex-direction: row-reverse;
    padding: 30px 25px;
    align-items: flex-end;
    gap: 25px;
    height: 37px;
  }
}
@media (min-width: 1024px) {
  footer .footerzone {
    flex-direction: row-reverse;
    margin: auto;
  }
}
footer .footertitle {
  display: flex;
  align-items: center;
}
@media (min-width: 1024px) {
  footer .footertitle {
    width: 136px;
    align-items: flex-end;
  }
}
footer h3 {
  color: #FFF;
  font-family: Shrikhand;
  font-weight: 400;
  font-size: 18px;
}
footer div {
  display: flex;
  justify-content: flex-start;
  gap: 11px;
  align-items: center;
}
footer .fa-solid {
  color: #FFF;
  font-size: 13px;
}
footer p {
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  color: #FFF;
}
footer .footerlist {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 7px;
}
@media (min-width: 768px) {
  footer .footerlist {
    flex-direction: row;
    align-items: flex-end;
  }
}
@media (min-width: 1024px) {
  footer .widewidth {
    width: 190px;
  }
}
footer .light {
  font-weight: 400;
}
@media (min-width: 1024px) {
  footer .light {
    width: 130px;
  }
}

/*# sourceMappingURL=styles.css.map */
